<html>
    <head>
        <title>Overwatch</title>
    </head>
    <body>
        <div>
            <h1><a href="">The world's only Overwatch Blog</a></h1>
        </div>

        <div>
            <p>published: 3rd of january</p>
            <h2><a href="">My first post</a></h2>
            <p>I like overwatch</p>
        </div>

        <div>
            <p>published: 3rd january, 17:21</p>
            <h2><a href="">My second post</a></h2>
            <p>stuff</p>
        </div>
    </body>
</html>
