h1, h2, h3, h4 {
    color: #f4b042;
    font-family: 'bangers', cursive;
}


.page-header {
    background: url(bg2.gif);
    background-size:cover;
    background-position: 0% 30%;
    margin-top: 0;
    padding: 20px 30px 20px 40px;
    height:150px;
}

body{
  background: url(bg.jpg);
  background-repeat: 100% 100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    font-size: 5vw;
    float: left;
}


.content {
    margin-left: 12.5%;
}


.date {
    color: #f4b042;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 36pt; font-size: 3vw;;
    margin-right: 20px;
    margin-top:30px;
  }

.top-menu:hover{
  color: #f4b042;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #f4b042;
}

.post p {
      border:1px solid #f4b042;
      border-radius: 5px;
      padding: 10px;
      background:rgba(255, 255, 255, .3);
}

.comment {
    margin: 20px 0px 20px 20px;
}


@media (max-width:480px) {
  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    font-size:6.5vw;
  }
  .top-menu, .top-menu:hover, .top-menu:visited {
    font-size:4.5vw;
  }

}
